@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/barlow/Barlow-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 500;
  src: url('/assets/fonts/barlow/Barlow-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 700;
  src: url('/assets/fonts/barlow/Barlow-Bold.otf') format('opentype');
}
