@mixin barlow-400 {
  font-family: 'Barlow';
  font-weight: 400;
}

@mixin barlow-500 {
  font-family: 'Barlow';
  font-weight: 500;
}

@mixin barlow-700 {
  font-family: 'Barlow';
  font-weight: 700;
}

@mixin reset-heading {
  margin: 0;
}

@mixin reset-p {
  margin: 0;
}

@mixin reset-link {
  text-decoration: none;
}

@mixin input-reset {
  background: none;
  border: none;
  &:focus-visible {
    background: none;
    border: none;
    outline: none;
  }
}

@mixin reset-btn {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}
