body {
  background: $bg-color;
}

.form-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.form-block {
  width: 1440px;
  height: 1000px;
  margin-top: 100px;
  display: grid;
  grid-template-columns: 760px 1fr;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  @media screen and (max-width: 1440px) {
    grid-template-columns: 1fr 1fr;
    width: 1000px;
    height: auto;
  }

  @media screen and (max-width: 1000px) {
    grid-template-columns: 1fr;
    width: auto;
  }

  &__left-side {
    position: relative;
    background: url('/assets/img/bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 1000px;

    @media screen and (max-width: 1440px) {
      height: auto;
    }

    @media screen and (max-width: 1000px) {
      height: 100px;
    }
  }

  &__left-side-logo {
    position: absolute;
    top: 43px;
    left: 50px;
    width: 141px;

    @media screen and (max-width: 1000px) {
      left: 39px;
    }
  }

  &__right-side {
    background: #ffffff;
  }
}

.form-content {
  padding: 115px 78px 115px 73px;

  @media screen and (max-width: 1440px) {
    padding: 57.5px 39px;
  }

  &__heading {
    @include reset-heading;
    @include barlow-500;
    color: $form-text-color;
    font-size: 28px;

    &_second {
      font-size: 21px;

      @media screen and (max-width: 1440px) {
        font-size: 24px;
      }
    }
  }

  &__text {
    @include reset-p;
    @include barlow-400;
    color: $form-text-color;
    font-size: 20px;
    margin-top: 15px;

    &_second {
      font-size: 14px;

      @media screen and (max-width: 1440px) {
        font-size: 15px;
      }
    }
  }
}

.register-via-socials {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  column-gap: 35px;
  padding-top: 56px;

  @media screen and (max-width: 1000px) {
    grid-template-columns: 1fr;
    gap: 10px;
  }

  &__button {
    @include reset-link;
    @include barlow-400;
    color: white;
    background: red;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: start;
    transition: background 0.1s;

    &_facebook {
      background: $facebook-color;

      &:hover {
        background: darken($facebook-color, 10%);
      }
    }

    &_linkedin {
      background: $linkedin-color;

      &:hover {
        background: darken($linkedin-color, 10%);
      }
    }
  }

  &__icon {
    height: 20px;
    padding-right: 15px;
  }
}

.or {
  padding-top: 50px;
  padding-bottom: 46px;
  &__line {
    position: relative;
    width: 240px;

    &:after {
      @include barlow-400;
      content: 'OR';
      position: absolute;
      top: -6px;
      left: 50%;
      transform: translateX(-50%);
      padding: 0 8px;
      background: #ffffff;
      font-size: 12px;
    }
  }
}

.input-container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 35px;
  padding-bottom: 51px;

  .input-block {
    @include barlow-400;
    position: relative;

    &__label {
      position: absolute;
      left: 8px;
      top: 6px;
      color: #2847597a;
    }

    &__input {
      @include input-reset;
      border: 1px solid #efefef;
      border-radius: 1px;
      padding: 30px 8px 10px 8px;
      width: 100%;
      transition: border 0.1s;

      &:focus {
        border: 1px solid #efefef;
        border-left: 1px solid #3597fc;
      }
    }
  }
}

.radio-input-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 50px;

  .radio-input-control {
    @include barlow-500;
    display: flex;
    align-items: center;

    span {
      padding-left: 8px;
    }
  }
}

.small-text-container {
  @include barlow-400;
  padding-top: 20px;
  .small-text {
    max-width: 255px;
    margin: 0;
    padding: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 5px;
    color: rgb(0 0 0 / 50%);
    font-size: 16px;
  }
}

.input-checkbox-container {
  @include barlow-400;
  padding-top: 45px;
  color: rgb(0 0 0 / 50%);

  a {
    color: $blue;
  }
}

.input-submit-container {
  padding-top: 55px;

  @media screen and (max-width: 1000px) {
    display: flex;
    justify-content: center;
  }

  .input-submit-btn {
    @include reset-btn;
    background: $blue;
    @include barlow-500;
    color: white;
    padding: 12px 68px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.2s;

    &:hover {
      background: darken($blue, 10%);
    }
  }
}
